Adafruit-Blinka==8.54.0
Adafruit-GPIO==1.0.3
Adafruit-PlatformDetect==3.77.0
Adafruit-PureIO==1.1.11
adafruit-circuitpython-busdevice==5.2.11
adafruit-circuitpython-sht31d==2.3.26
adafruit-circuitpython-ssd1306==2.12.19
i2cdevice==1.0.0
paho-mqtt==2.1.0
pillow==11.1.0
RPi.GPIO==0.7.1
smbus==1.1.post2
smbus2==0.5.0
spidev==3.6